body {
    font-family: sans-serif;
    padding: 1em 2rem;

}

h1 {
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
}


span.code {
    font-family: monospace;
    padding: 0.2em;
    font-size: 1.1em;

}